SUPABASE_URL=aurl
SUPABASE_ANON_KEY=akey
SUPABASE_SERVICE_ROLE_KEY=akey

# M-Pesa (production)
MPESA_CONSUMER_KEY=akey
MPESA_CONSUMER_SECRET=aword
MPESA_PASSKEY=akey
MPESA_SHORTCODE=ashortcode        # ← This is the HO number
MPESA_TILL_NUMBER=atill
MPESA_ENVIRONMENT=production

# Admin
ADMIN_EMAIL=aemail@abc
SESSION_SECRET=asecret
ADMIN_PASSWORD=aword
# App URL (for local testing - callback needs to be public)
BASE_URL=aurl
#Emailjs
EMAILJS_SERVICE_ID=aserviceid
EMAILJS_TEMPLATE_ID=anid
EMAILJS_PUBLIC_KEY=akey
EMAILJS_PRIVATE_KEY=akey
FEEDBACK_TO_EMAIL=myemail@example